In [2]:
import yfinance as yf
import pandas as pd

In [5]:
df = pd.read_csv('tickers.csv')

In [9]:
one = df.iloc[0]["TICKER"]

In [10]:
one

'VENKEYS'

In [15]:
dfx = yf.Ticker(f'{one}.NS').history(period='MAX')

In [17]:
dfx.dropna(inplace=True)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2002-07-01,26.122139,26.827438,25.913162,26.174385,40786,0.0,0.0
2002-07-02,26.383358,26.696825,25.599694,25.808674,29353,0.0,0.0
2002-07-03,26.069889,26.069889,24.554805,24.816027,25816,0.0,0.0
2002-07-04,25.181739,25.599692,24.816030,24.868275,11160,0.0,0.0
2002-07-05,24.633177,25.834797,24.607055,25.442965,29301,0.0,0.0
...,...,...,...,...,...,...,...
2021-05-06,1631.199951,1666.900024,1610.000000,1631.900024,94838,0.0,0.0
2021-05-07,1642.000000,1665.000000,1631.900024,1638.750000,71236,0.0,0.0
2021-05-10,1694.000000,1765.000000,1668.150024,1685.150024,1075684,0.0,0.0
2021-05-11,1679.000000,1800.000000,1665.000000,1776.949951,495700,0.0,0.0
2021-05-12,1800.000000,2132.300049,1799.949951,2090.550049,2768188,0.0,0.0