In [8]:
import pandas as pd
from os import listdir
from os.path import isfile, join

In [12]:
onlyfiles = [f for f in listdir('./data') if isfile(join('./data', f))]

In [13]:
print(onlyfiles)

['MW-NIFTY-MIDSMALLCAP-400-13-May-2021.csv', 'MW-NIFTY-200-13-May-2021.csv', 'MW-NIFTY-BANK-13-May-2021.csv', 'MW-NIFTY-PHARMA-13-May-2021.csv', 'MW-NIFTY-PSU-BANK-13-May-2021.csv', 'MW-NIFTY-50-13-May-2021.csv', 'MW-NIFTY-AUTO-13-May-2021.csv', 'MW-NIFTY-FMCG-13-May-2021.csv', 'MW-NIFTY-SMALLCAP-250-13-May-2021.csv', 'MW-NIFTY-PRIVATE-BANK-13-May-2021.csv', 'MW-NIFTY-METAL-13-May-2021.csv', 'MW-NIFTY-ENERGY-13-May-2021.csv', 'MW-NIFTY-MIDCAP-150-13-May-2021.csv', 'MW-NIFTY-REALTY-13-May-2021.csv', 'MW-NIFTY-FINANCIAL-SERVICES-25_50-13-May-2021.csv', 'MW-NIFTY-FINANCIAL-SERVICES-13-May-2021.csv', 'MW-NIFTY-IT-13-May-2021.csv', 'MW-NIFTY-NEXT-50-13-May-2021.csv', 'MW-NIFTY-MEDIA-13-May-2021.csv']

In [39]:
large_df = pd.DataFrame({"TICKER":[], "GROUP":[]})

In [40]:
for i in onlyfiles:
    filename = './data/' + i
    temp_df = pd.read_csv(filename)
    '''
    temp_df = temp_df.drop(columns=['OPEN \n', 'HIGH \n', 'LOW \n', 'PREV. CLOSE \n', 'LTP \n',
       'CHNG \n', '%CHNG \n', 'VOLUME \n(shares)', 'VALUE ', '52W H \n',
       '52W L \n', '365 D % CHNG \n 11-May-2020',
       '30 D % CHNG \n 09-Apr-2021'])
    '''
    temp_df = temp_df[['SYMBOL \n']]
    temp_df = temp_df.rename(columns={"SYMBOL \n": "TICKER"})
    group = temp_df.iloc[0]["TICKER"]
    temp_df = temp_df.drop([0])
    temp_df["GROUP"] = [group for i in range(len(temp_df))]
    large_df = pd.concat([large_df, temp_df])

In [41]:
large_df

        TICKER                  GROUP
1      VENKEYS  NIFTY MIDSMALLCAP 400
2   CHAMBLFERT  NIFTY MIDSMALLCAP 400
3          NFL  NIFTY MIDSMALLCAP 400
4         IDEA  NIFTY MIDSMALLCAP 400
5      UCOBANK  NIFTY MIDSMALLCAP 400
..         ...                    ...
6       DBCORP            NIFTY MEDIA
7      TVTODAY            NIFTY MEDIA
8       DISHTV            NIFTY MEDIA
9    NETWORK18            NIFTY MEDIA
10  TV18BRDCST            NIFTY MEDIA

[1270 rows x 2 columns]

In [42]:
large_df.to_csv('tickers.csv',index=False)

# Test Runs

In [16]:
test_df = pd.read_csv('./data/MW-NIFTY-MIDSMALLCAP-400-13-May-2021.csv')

In [23]:
test_df = test_df.drop(columns=['OPEN \n', 'HIGH \n', 'LOW \n', 'PREV. CLOSE \n', 'LTP \n',
       'CHNG \n', '%CHNG \n', 'VOLUME \n(shares)', 'VALUE ', '52W H \n',
       '52W L \n', '365 D % CHNG \n 11-May-2020',
       '30 D % CHNG \n 09-Apr-2021'])

In [28]:
test_df = test_df.rename(columns={"SYMBOL \n":"TICKER"})

In [31]:
group = test_df.iloc[0]["TICKER"]

In [32]:
test_df.drop([0])

         TICKER
1       VENKEYS
2    CHAMBLFERT
3           NFL
4          IDEA
5       UCOBANK
..          ...
396  DCMSHRIRAM
397      SUZLON
398   INTELLECT
399    BLISSGVS
400        DCAL

[400 rows x 1 columns]

In [33]:
test_df["GROUP"] = [group for i in range(len(test_df))]

In [34]:
test_df

                    TICKER                  GROUP
0    NIFTY MIDSMALLCAP 400  NIFTY MIDSMALLCAP 400
1                  VENKEYS  NIFTY MIDSMALLCAP 400
2               CHAMBLFERT  NIFTY MIDSMALLCAP 400
3                      NFL  NIFTY MIDSMALLCAP 400
4                     IDEA  NIFTY MIDSMALLCAP 400
..                     ...                    ...
396             DCMSHRIRAM  NIFTY MIDSMALLCAP 400
397                 SUZLON  NIFTY MIDSMALLCAP 400
398              INTELLECT  NIFTY MIDSMALLCAP 400
399               BLISSGVS  NIFTY MIDSMALLCAP 400
400                   DCAL  NIFTY MIDSMALLCAP 400

[401 rows x 2 columns]